@charset "UTF-8";

.seccion{
	text-align:center;
	width: 50%;
	margin-left:15rem;
	background-color: rgba(0, 0, 0, 0.1);
	border-radius: 10px;
}

.contenedor-section{
	margin: 1.7rem;
	padding:1rem;
}

.contenedor-form{
	margin:auto;
	padding:20px 50px 20px 50px;
	display:inline-block;
	border:solid .2rem white;
}

form{
	padding:1rem;
	border:.1rem solid black;
}

textarea {
    width: 100%;
    height: 150px;
    padding: 10px;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical; /* Permite al usuario redimensionar verticalmente */
}

.div1{
	padding:1rem;
	padding-bottom:20px;
	text-align:left;
}

.div2{
	padding:1rem;
	padding-bottom:20px;
	text-align:left;
}

.div3{
	padding:1rem;
	padding-bottom:20px;
	text-align:left;
}

.div4{
	padding:1rem;
	padding-bottom:20px;
	text-align:left;
}

.div5{
	padding:1rem;
	padding-bottom:0px;
	text-align:center;
}